@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?y5l0js');
  src:  url('fonts/icons.eot?y5l0js#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?y5l0js') format('truetype'),
    url('fonts/icons.woff?y5l0js') format('woff'),
    url('fonts/icons.svg?y5l0js#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-Facebook:before {
  content: "\e900";
}
._icon-Instagram:before {
  content: "\e901";
}
._icon-Twitter:before {
  content: "\e902";
}
